.hero {
    position: relative;
}
h2 {
    text-decoration: underline;
    padding-bottom: 8px;
}

.bannerImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.logo {
    left: 125px;
    top: 200px; 
    position: absolute;
    display: flex;
    flex-direction: row;
}

.iconImg {
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center;
}

.gameTitle {
    background-color: rgba(225,225,225,.9);
    color: black;
    height: 200px;
    max-width: 350px;
    min-width: 270px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}

/* GRID */
.container { 
    
    padding: 160px 40px 20px 40px;
    display: grid; 
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(6, 1fr); 
    grid-column-gap: 10px;
    grid-row-gap: 10px; 
    }
    .div1 {  grid-area: 1 / 1 / 1 / 2; } 
    .div2 { grid-area: 1 / 2 / 1 / 3; } 
    .div3 { grid-area: 2 / 1 / 2 / 2; } 
    .div4 { grid-area: 2 / 2 / 2 / 3; } 
    .div5 { grid-area: 1 / 3 / 2 / 6; } 
    .div6 { grid-area: 3 / 1 / 4 / 3; } 
    .div7 { grid-area: 4 / 1 / 5 / 3; } 
    .div8 { grid-area: 2 / 3 / 4 / 6; } 

    .div1 ul, .div2 ul, .div3 ul {
    list-style-type: none;
}

.container>div {
    border: 1px solid red;
    height: auto;
}

.screenshots img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.video {
    padding-top: 5px;
}

.mediaInfo div img {
    padding: 10px 10px 0 0 ;
}