.hero {
    position: relative;
}
h2 {
    text-decoration: underline;
    padding-bottom: 8px;
}

.bannerImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.logo {
    left: 125px;
    top: 200px; 
    position: absolute;
    display: flex;
    flex-direction: row;
}

.iconImg {
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center;
}

.gameTitle {
    background-color: rgba(225,225,225,.9);
    color: black;
    height: 200px;
    max-width: 350px;
    min-width: 270px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}

.container {
    padding-top: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.gameInfo {
    display: flex;
    flex-direction: row;
    
}

.summaryGameInfo {
    width: 30vw;
    padding-left: 120px;
    padding-right: 20px;
}

.gameSummary {
    padding-top: 50px;
    /* border: 1px solid red; */
}

.gameInfo ul {
    list-style-type: none;
    padding: 5px;
}

.screenshots img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.videos {
    padding-top: 30px;
}

.video {
    padding: 5px;
    margin-left: -5px;
}

.mediaInfo {
    margin-right: 60px;
}
.mediaInfo div img {
    padding: 10px 10px 0 0 ;
}